body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

/* Container full width */
.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

/* Menu buttons full width */
.menu a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 15px;
    background: #111;
    color: gold;
    text-decoration: none;
    border-radius: 10px;
}

/* Make canvas responsive */
canvas {
    width: 100% !important;
    height: auto !important;
}

.logo {
    width: 120px;
    margin: 20px;
}

.menu a {
    display: block;
    margin: 20px;
    padding: 25px;
    background: #111;
    color: gold;
    text-decoration: none;
    border-radius: 10px;
}

.up {
    color: lime;
    animation: blink 0.5s alternate 3;
}

.down {
    color: red;
    animation: blink 0.5s alternate 3;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.3; }
}
