body {
    
    margin: 0;
    padding: 0;
    background-image: url("aesthetic-wallpaper-with-gold-bars-high-angle_23-2149872245.jpg");
    background-size: cover;
    display: flex;
    font-family: Times New Roman, serif;
    align-items: center;
}

/* Container full width */
.container {
    background: rgba(0,0,141,0.20);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 5px solid rgba(255,255,255,0.25);
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

/* Menu buttons full width */
.menu a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 15px;
    background: #111;
    color: gold;
    text-decoration: none;
    border-radius: 10px;
}

/* Make canvas responsive */
canvas {
    width: 100% !important;
    height: auto !important;
}

.logo {
    width: 120px;
    margin: 20px;
    align-items: center;
}

.menu a {
    display: block;
    margin: 20px;
    padding: 25px;
    background: #111;
    color: gold;
    text-decoration: none;
    border-radius: 10px;
}

.up {
    color: lime;
    animation: blink 0.5s alternate 3;
}

.down {
    color: red;
    animation: blink 0.5s alternate 3;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.3; }
}
